<header>
  PIZZA GALLERIA
 
 </header>

<body>
  <div class container3>
    <div class="signup-page">
      <form (ngSubmit)="signupValidation()">
       <input type="text" placeholder="Full name" id="nam" name="customername" [(ngModel)]="customername" required>
       <input type="text" placeholder="City name" id="cit" name="city" [(ngModel)]="city" required>
       <input type="email" placeholder="Email" id="img" name="email" [(ngModel)]="email" required>
       <input type="text" placeholder="Password" id="paas" name="password" [(ngModel)]="password" required>

                <button  id="sig" type="submit">Sign Up</button>
  </form>
    </div>
  </div>
</body>

