<head>
    <title>About Us - Pizza Galleria</title>  
</head>



<body>
    <div class="header">
        <div>Pizza Galleria</div>
        <div class="header-icon"><a routerLink="/user">🏠</a></div>
    </div>
    <div class="content">
        <h1>About Us</h1>
        <p>Welcome to Pizza Galleria! We are passionate about serving delicious, authentic pizza.<br>Pizza Galleria was born out of a love for authentic Italian cuisine.<br> We pride ourselves on using only the freshest ingredients, sourced locally whenever possible.<br> Our dough is made fresh daily, and we use a traditional wood-fired oven to give our pizzas that distinctive, smoky flavor that you can't find anywhere else.<br>Our ingredients are fresh and our pizzas are made from scratch every day. <br>Order and taste the difference at Pizza Galleria!</p>
    
    </div>
    <footer>Share about us on <img id ="img" src="https://static.vecteezy.com/system/resources/previews/023/899/755/original/set-of-popular-social-media-icons-free-vector.jpg"></footer>
</body>

